.imageInTable{
    height: 200px;
    width: 250px;
}
.head{
   
    display: flex;
    justify-content: center;
}
.content{
    margin: 100px;
}

.head h1{
    position: relative;
    top: 60px;
    /* background-color: #fae8d2;
    border-radius: 20px; */
    color: #4a3823;
}