

<div class="head">
  <h1 class="shadow"><b>MANAGE YOUR BOOKS HERE</b></h1>
</div>

<div class="content">
  <table class="table table-striped shadow">
    <thead class="thead-dark">
    <tr>

      <th scope="col">ID</th>
      <th >TITLE</th>
      <th>IMAGE</th>
      <th scope="col">AUTHOR</th>
      <th scope="col">PUBLICATION YEAR</th>
      <th>ACTIONS</th>

    </tr>
    </thead>
    <tbody>
      <tr *ngIf="booklist.length ==0">
        <td colspan="5" style="text-align: center"><h2>There are no books yet</h2></td>
      </tr>
    <tr *ngFor="let book of booklist">
      <th >{{book.id}}</th>
      <td>{{book.title}}</td>
      <td><img class="imageInTable" src="{{book.imgUrl}}" alt="image"></td>
      <td>{{book.author}}</td>
      <td>{{book.publicationYear}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="toUpdateBook(book.id)">Edit</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="toDeleteBook(book.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" id="btnAdd" class="btn btn-danger" (click)="toAddBook()" >Add Book</button>
</div>

