


<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
      <a class="navbar-brand"><img src="https://img.icons8.com/ios-filled/256/open-book.png" height="60" /></a>
     <b> <p class="textlogo">BOOKS MANAGER</p> </b> 
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active btn"  aria-current="page" (click)="toAllBooks()">All BOOKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active btn"  (click)="toBookList()">BOOKS LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active btn" (click)="toAddBook()">ADD BOOK</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item log-out">
            <a class="nav-link mx-2 active btn" (click)="toLogIn()"><b>LOG OUT</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>