


<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
      <a class="navbar-brand"><img src="https://img.icons8.com/ios-filled/256/open-book.png" height="60" /></a>
     <b> <p class="textlogo">BOOKS MANAGER</p> </b> 
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" (click)="toAllBooks()">All BOOKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2"  (click)="toBookList()">BOOKS LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" (click)="toAddBook()">ADD BOOK</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>