
.cardDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 162px;
    justify-content:baseline;
}

.card{
    margin: 1cm;
}

.set{
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%
}


h1{
    margin-left: 200px;
}