<app-navbar></app-navbar>


<div class="content position">

    <h1>{{book.title}}</h1>

    <table class="table table-striped shadow">
      <thead class="thead-dark">
      <tr>
  
        <th scope="col">ID</th>
        <th >TITLE</th>
        <th>IMAGE</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">PUBLICATION YEAR</th>
        <!-- <th>ACTIONS</th> -->
  
      </tr>
      </thead>
      <tbody>
        <!-- <tr *ngIf="booklist.length ==0">
          <td colspan="5" style="text-align: center"><h2>There are no books yet</h2></td>
        </tr> -->
      <tr>
        <th >{{book.id}}</th>
        <td>{{book.title}}</td>
        <td><img class="imageInTable size" src="{{book.imgUrl}}" alt="image"></td>
        <td>{{book.author}}</td>
        <td>{{book.publicationYear}}</td>
      </tr>
      </tbody>
    </table>
  </div>